**/__pycache__/*
**/detect.xml
**/exploit_list
**/modules/stdoutput
**/logtest
.vscode
**/modules/edb/*
**/modules/post/hosts
**/modules/post/ips
**/modules/post/id_rsa.pub
**/modules/run/LOGS
**/modules/run/detect.xml
**/modules/run/exploit_list
**/hosts
**/save.json
